%form.form-inline{:action => "/user/#{@user.id}/add_music", :method => "post"}
  .form-group
    .input-group
      %input.form-control{:name => "spotify_uri", :placeholder => "Spotify URI", :type => "text"}
      %span.input-group-btn{:style => "width:0px;"}
      %input.form-control{:name => "tags", :placeholder => "Tag1, Tag2", :type => "text"}
      %span.input-group-btn
        %button.btn.btn-success{:type => "submit"} Add Music
%p
%form.form-inline{:action => "/user/#{@user.id}", :method => "get"}
  .form-group
    .input-group
      %span.input-group-btn
        %a.btn.btn-primary{:href => "/user/#{@user.id}"} All
      %span.input-group-btn
        %a.btn.btn-warning{:href => "/user/#{@user.id}?tags=[[none]]"} No Tags
      %input.form-control{:name => "tags", :placeholder => "Tag1, Tag2", :type => "text", :value => @input_tags}
      %span.input-group-btn
        %button.btn.btn-primary{:type => "submit"} Filter
%table.table
  %thead
    %tr
      %th #
      %th Name
      %th Artist
      %th Tags
      -#%th Player
  %tbody
    - @songs.each_with_index do |song, index|
      %tr
        %td{:scope => "row"}
          %b=index + 1
        %td=song.info.name
        %td=song.info.artists.first.name
        %td
          =song.tags.join ", "
          %form.form-inline{:action => "/user/#{@user.id}/song/#{song.id}/add_tags", :method => "post"}
            .form-group
              .input-group
                %input.form-control{:name => "tags", :placeholder => "Tag1, Tag2", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-block.btn-success{:type => "submit"} Add
        -#%td
          -#%iframe{:allowtransparency => "true", :frameborder => "0", :height => "80", :width => "80", :src => "https://embed.spotify.com/?uri=#{song.url_encoded_spotify_uri}"}
%a.btn.btn-danger.btn-block{:href => "/user/#{@user.id}/song/all/delete"} Delete all Songs
