!!!
%html
  %head
    %title SpotiTag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", :integrity => "sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
  %body
    %nav.navbar.navbar-fixed-top.navbar-dark.bg-success.not-rounded
      .nav.navbar-nav
        .nav-item
          .navbar-brand{:style => "font-weight: 300;"}
            =@title || "SpotiTag"
        - if @filterable
          .nav-item.text-center{:style => "position:absolute"}
            %form.form-inline{:action => "/user/#{@user.id}/#{@user.secret}", :method => "get"}
              .form-group
                .input-group
                  -#%span.input-group-btn
                  -#  %a.btn.btn-warning{:href => "/user/#{@user.id}/#{@user.secret}?tags=[[none]]"} No Tags
                  %input.form-control{:name => "tags", :placeholder => "Tags e.g. Fun Summer Pop", :type => "text", :value => @input_tags, :style => "width: 400px"}
                  %span.input-group-btn
                    %button.btn.btn-primary{:type => "submit"} Filter
    .container{:style => "padding-top: 80px; padding-bottom: 50px;"}
      = yield
    %nav.navbar.navbar-fixed-bottom.navbar-light.bg-faded.text-center{:style => "font-weight: 300;"}
      %a.text-success{:href => "/about"} About
      %a.text-success{:href => "/terms", :style => "padding-left: 20px;"} Terms & Conditions
      %a.text-success{:href => "/privacy", :style => "padding-left: 20px;"} Privacy Policy
